1. Create the variables x = 2 and y = 3, then determine what each of the following statements displays:

In [69]:
x = 2
y = 3

print ('x = ', x)
print ('value of x', x , '+' , x , 'is', (x+x))
print ('x =')
print ((x+y), '=', (y+x))

x =  2
value of x 2 + 2 is 4
x =
5 = 5

2. The following code should calculate the square of a number:

In [70]:
number = int(input("Input a number between 1 and 10: "))
square = number*number
print(square)

Input a number between 1 and 10: 2
4

3. Test each of the arithmetic operators +, -, *, /, // and ** with -5, 0, 5, and 7.5 as the left 
operand and 2 as the right operand.

In [71]:
list = [-5, 0 , 5 , 7.5]

for i in list:
    print (i , " + 2 = ", i+2)
    print (i , " - 2 = ", i-2)
    print (i , " * 2 = ", i*2)
    print (i , " / 2 = ", i/2)
    print (i , " // 2 = ", i//2)
    print (i , " ** 2 = ", i**2)

-5  + 2 =  -3
-5  - 2 =  -7
-5  * 2 =  -10
-5  / 2 =  -2.5
-5  // 2 =  -3
-5  ** 2 =  25
0  + 2 =  2
0  - 2 =  -2
0  * 2 =  0
0  / 2 =  0.0
0  // 2 =  0
0  ** 2 =  0
5  + 2 =  7
5  - 2 =  3
5  * 2 =  10
5  / 2 =  2.5
5  // 2 =  2
5  ** 2 =  25
7.5  + 2 =  9.5
7.5  - 2 =  5.5
7.5  * 2 =  15.0
7.5  / 2 =  3.75
7.5  // 2 =  3.0
7.5  ** 2 =  56.25

4. Typically 6 eggs fit in one box. Write a script to calculate the number of boxes a farmer needs to store 28 eggs. The script will also determine how many eggs are placed in the last uncompleted box, and how many additional eggs are needed to fill this last box.

In [73]:
# Let numbers are the numbers of boxes 
numbers = 28 // 6
print ("Need",numbers+1,"boxes for 28 eggs")
# Let n are the eggs placed in the last uncompleted box  
n = 28 % 6
print ("Number of eggs placed in the last uncompleted :",n)
# Let a are the eggs needed to fill this last box 
a = 6 - n
print ("Need",a,"eggs to fill this last box")

Need 5 boxes for 28 eggs
Number of eggs placed in the last uncompleted : 4
Need 2 eggs to fill this last box

5. Use if statements to determine whether an integer is odd or even using the remainder operator.

In [74]:
n = int(input())
if n < 0 :
  print("wrong")
elif n % 2 == 0:
  print (n,"is even number")
else :
  print (n, "is odd number")

5
5 is odd number

6. Starting with 200 bacteria, the growth in the number of bacteria after n hours is calculated as follows: B = 200 × 2n. Print the number of bacteria after 0, 5, 10, and 15 hours in table format as shown below. Use the tab escape sequence to achieve the two-column output

In [75]:
print ("Hour \t Number of Bacteria")
for i in range (0,20,5):
  B = 200 * (2**i)
  print (i, "\t", B)

Hour 	 Number of Bacteria
0 	 200
5 	 6400
10 	 204800
15 	 6553600

7. Reimplement the code in Task 6 to produce the following table with the numbers right aligned in each column

In [76]:
print(f"{'Hour' : <10}{'Number of Barteria' : ^10}")
B = 0
for i in range (0,20,5):
    B = 200 * (2**i)
    print(f"{i : <10}{B : >18}")

Hour      Number of Barteria
0                        200
5                       6400
10                    204800
15                   6553600

8. Each of a string’s characters has an integer representation. The set of characters a computer uses together with the characters’ integer representations is called that computer’s character set. You can indicate a character value in a program by enclosing that character in quotes, as in "A." To determine a character’s integer value, call the builtin function ord. Tom and Jim want to play a game but are unable to choose who goes first. They decide that the person with the highest sum of the integer values of the characters of their name gets to play first. Write a script to determine who goes first.

In [77]:
name1 = 'Tom'
name2 = 'Jim'
n = 0
b = 0
num1 = 0
num2 = 0
for i in name1:
  n = ord(i)
  num1 += n
for m in name2:
  b = ord(m)
  num2 += b
if num1 > num2:
  print(name1, "First")
else:
  print(name2, "First")

Tom First

9. Write a script that inputs the grades (in integers) of 3 courses from the user. First display the average grade of the three courses, and then the names and the grades of the courses with the highest and the lowest grades.

In [81]:
x = int(input("Enter point of course 1:"))
y = int(input("Enter point of course 2:"))
z = int(input("Enter point of course 3:"))
ave = (x + y + z)/ 3
print("The average score is:", ave)
if x > y and x > z:
  print("The highest score is course 1,",x,"point")
  if y > z:
    print("The lowest score is course 3,",z,"point")
  else:
    print("The lowest score is course 2,",y,"point")
elif y > x and y > z:
  print("The highest score is course 2,",y,"point")
  if x > z:
    print("The lowest score is course 3,",z,"point")
  else:
    print("The lowest score is course 1,",x,"point")
else:
  print("The highest score is course 3,",z,"point")
  if x > y:
    print("The lowest score is course 2,",y,"point")
  else:
    print("The lowest score is course 1,",x,"point")

Enter point of course 1:1
Enter point of course 2:2
Enter point of course 3:3
The average score is: 2.0
The highest score is course 3, 3 point
The lowest score is course 1, 1 point

10. Write a script that inputs a number of seconds from the user. Calculate the number of hours, minutes, and remaining seconds. Print them separated by “ - ”. For example, if the user types 3750 seconds as input, the script should print:

In [85]:
n = int(input())
hours = n // 3600
minutes = (n % 3600)//60
seconds = n % 3600 % 60
print (hours ,'-' , minutes, '-' , seconds )

2900
0 - 48 - 20

11. Every year, if an employee receives a good job performance review, they get a raise of 
3% on their wages. In turn, if they receive a suboptimal performance review, their wages 
are deducted by 3%. Consider an employee starting with an hourly wage of $10. Calculate 
how much this employee is earning after 5 years of consistent good reviews and after 2 
years of bad reviews. Use the following formula to calculate these wages:

In [87]:
o = 10
Good=int(input())
Bad=int(input())
w = 10*((1+0.03)**(Good))+10*((1-0.03)**(Bad))
print("wages = ", w)

5
2
21.001740743

12. While exercising, you can use a heart-rate monitor to see that your heart rate stays within a safe range suggested by your doctors and trainers. According to the American Heart Association (AHA) (http://bit.lyAHATargetHeart- Rates), the formula for calculating your maximum heart rate in beats per minute is 220 minus your age in years. Your target heart rate is 50–85% of your maximum heart rate. Write a script that prompts for and inputs the user’s age and calculates and displays the user’s maximum heart rate and the range of 
the user’s target heart rate.

In [86]:
age = int(input())
z = 220 - age
min = int(0.5 * z)
max = int(0.85 * z)
print("Max heart rate =", z)
print("Target = ", min, '-', max)

19
Max heart rate = 201
Target =  100 - 170

13. After a running competition, three runners want to determine who won based on the time they needed to complete the course. Write a script that inputs the time they took through three different floating-point numbers (in seconds) from the user. Display the numbers in increasing order by using if statements only. Prove that your script works by running it on all six possible orderings of the numbers. Does your script work with duplicate numbers?

In [104]:
time1 = float(input())
time2 = float(input())
time3 = float(input())
list = []
if time1 <= time2 and time2 <= time3:
  list = [time1, time2, time3]
if time1 <= time3 and time3 <= time2:
  list = [time1, time3, time2]
if time2 <= time1 and time1 <= time3:
  list = [time2, time1, time3]
if time2 <= time3 and time3 <= time1:
  list = [time2, time3, time1]
if time3 <= time1 and time1 <= time2:
  list = [time3, time1, time2]
if time3 <= time2 and time2 <= time1:
  list = [time3, time2, time1]
print(list)

3.5
3.5
5
[3.5, 3.5, 5.0]

14. Reimplement code in Task 13 by using if…else statements rather than only if
statements

In [99]:
time1 = float(input())
time2 = float(input())
time3 = float(input())
list = []
if time1 <= time2:
  if time2 <=time3:
    list = [time1, time2, time3]
  elif time3 <= time2:
    list = [time1, time3, time2]
  elif time3 <= time1:
    ordred = [time3, time1, time2]
else: # 2 <= 1
  if time1 <= time3:
    list = [time2, time1, time3]
  elif time3 <=time2:
    list = [time3, time2, time1]
print(list)

5
3.5
3.5
[3.5, 3.5, 5.0]